.single-example {
    font-family: monospace;
    padding: 2em;
}

.generation {
    text-wrap: nowrap;
    width: 500px;
}
.inout {
    font-size: smaller;
    padding-top: 1em;

    span {
        font-weight: bold;
    }
}

.outputs {
    display: flex;
    flex-direction: column;
    gap: .5em;
}